In [8]:
import pandas as pd
df = pd.read_excel('Book1.xlsx')
#df = pd.read_csv('Check.csv', encoding='unicode_escape')
print(df)

    STT         ID                    Name Date of Birth       Class
0     1  102180153             Lưu Quốc An    2000-02-03  18TCLC_DT2
1     2  102180154      Tôn Thất Quỳnh Anh    2000-10-12  18TCLC_DT2
2     3  102180155    Nguyễn Thị Minh Châu    2000-10-17  18TCLC_DT2
3     4  102180156     Trần Văn Thanh Công    2000-08-17  18TCLC_DT2
4     5  102180157          Huỳnh Bá Cường    2000-10-22  18TCLC_DT2
5     6  102180158           Trần Thế Dâng    2000-11-16  18TCLC_DT2
6     7  102180159         Nguyễn Tiến Đạt    2000-12-06  18TCLC_DT2
7     8  102180160           Phan Thị Diễm    2000-09-18  18TCLC_DT2
8     9  102180161         Phan Khương Duy    2000-09-29  18TCLC_DT2
9    10  102180162           Đỗ Trung Hiếu    2000-05-02  18TCLC_DT2
10   11  102180163     Nguyễn Nguyên Hoàng    1999-03-06  18TCLC_DT2
11   12  102180164          Đặng Quang Huy    2000-09-30  18TCLC_DT2
12   13  102180165         Nguyễn Hồng Huy    2000-04-10  18TCLC_DT2
13   14  102180166    Nguyễn Văn Quang Huy    2000-11-27  18TCLC_DT2
14   15  102180167            Trần Văn Huy    2000-10-26  18TCLC_DT2
15   16  102180168            Đỗ Oanh Khải    2000-10-08  18TCLC_DT2
16   17  102180169         Đỗ Văn Anh Khoa    2000-04-01  18TCLC_DT2
17   18  102180170        Phạm Mai Văn Lai    2000-08-21  18TCLC_DT2
18   19  102180171        Châu Trường Long    2000-08-02  18TCLC_DT2
19   20  102180172          Lương Thế Long    2000-08-20  18TCLC_DT2
20   21  102180173           Trần Chí Minh    2000-05-26  18TCLC_DT2
21   22  102180174           Đặng Bảo Ngân    2000-04-09  18TCLC_DT2
22   23  102180175       Nguyễn Xuân Nghĩa    2000-06-01  18TCLC_DT2
23   24  102180176           Bùi An Nguyên    2000-11-16  18TCLC_DT2
24   25  102180177              Đỗ Lý Nhân    2000-05-01  18TCLC_DT2
25   26  102180178           Phan Minh Phú    2000-10-30  18TCLC_DT2
26   27  102180179      Nguyễn Xuân Phương    2000-06-01  18TCLC_DT2
27   28  102180180       Nguyễn Phước Quốc    2000-02-13  18TCLC_DT2
28   29  102180181          Huỳnh Tấn Sinh    2000-02-19  18TCLC_DT2
29   30  102180182  Nguyễn Đặng Trường Sơn    2000-01-10  18TCLC_DT2
30   31  102180183          Nguyễn Đức Tài    2000-09-06  18TCLC_DT2
31   32  102180185            Lê Đức Thiết    2000-12-05  18TCLC_DT2
32   33  102180186          Lê Quang Thông    2000-10-20  18TCLC_DT2
33   34  102180187   Huỳnh Trần Khánh Toàn    2000-01-19  18TCLC_DT2
34   35  102180188             Võ Minh Trí    1997-01-03  18TCLC_DT2
35   36  102180189           Lê Tiến Trung    2000-03-22  18TCLC_DT2
36   37  102180190             Phan Anh Tú    2000-12-27  18TCLC_DT2
37   38  102180191             Lê Anh Tuấn    2000-06-13  18TCLC_DT2
38   39  102180192            Phan Thế Tuệ    2000-09-23  18TCLC_DT2
39   40  102180193            Mai Thế Viễn    2000-06-01  18TCLC_DT2
40   41  102180194            Hồ Nguyên Vũ    2000-10-19  18TCLC_DT2
41   42  102180195           Dương Thảo Vy    2000-02-29  18TCLC_DT2

In [9]:
print(df.shape[1])
rows = df.shape[0]
for i in range(0,rows):
    print(df.loc[i][2])

5
Lưu Quốc An
Tôn Thất Quỳnh Anh
Nguyễn Thị Minh Châu
Trần Văn Thanh Công
Huỳnh Bá Cường
Trần Thế Dâng
Nguyễn Tiến Đạt
Phan Thị Diễm
Phan Khương Duy
Đỗ Trung Hiếu
Nguyễn Nguyên Hoàng
Đặng Quang Huy
Nguyễn Hồng Huy
Nguyễn Văn Quang Huy
Trần Văn Huy
Đỗ Oanh Khải
Đỗ Văn Anh Khoa
Phạm Mai Văn Lai
Châu Trường Long
Lương Thế Long
Trần Chí Minh
Đặng Bảo Ngân
Nguyễn Xuân Nghĩa
Bùi An Nguyên
Đỗ Lý Nhân
Phan Minh Phú
Nguyễn Xuân Phương
Nguyễn Phước Quốc
Huỳnh Tấn Sinh
Nguyễn Đặng Trường Sơn
Nguyễn Đức Tài
Lê Đức Thiết
Lê Quang Thông
Huỳnh Trần Khánh Toàn
Võ Minh Trí
Lê Tiến Trung
Phan Anh Tú
Lê Anh Tuấn
Phan Thế Tuệ
Mai Thế Viễn
Hồ Nguyên Vũ
Dương Thảo Vy

In [12]:
dict_student = dict()
stt=[]
name=[]
date=[]
class_study=[]
# print(df['STT']) // in ra gia tri cua cot va kieu du lieu
# print(df.columns[0]) // in ra ten cac cot
# print(df['STT'].values) // in ra gia tri cua cot

data = pd.DataFrame({'STT':df['STT'].values,'NAME':pd.Series(df['Name']),'DATE OF BIRTH':df['Date of Birth'],'CLASS':df['Class']})
print(data)
print(type(df))
print(type(data))

    STT                    NAME DATE OF BIRTH       CLASS
0     1             Lưu Quốc An    2000-02-03  18TCLC_DT2
1     2      Tôn Thất Quỳnh Anh    2000-10-12  18TCLC_DT2
2     3    Nguyễn Thị Minh Châu    2000-10-17  18TCLC_DT2
3     4     Trần Văn Thanh Công    2000-08-17  18TCLC_DT2
4     5          Huỳnh Bá Cường    2000-10-22  18TCLC_DT2
5     6           Trần Thế Dâng    2000-11-16  18TCLC_DT2
6     7         Nguyễn Tiến Đạt    2000-12-06  18TCLC_DT2
7     8           Phan Thị Diễm    2000-09-18  18TCLC_DT2
8     9         Phan Khương Duy    2000-09-29  18TCLC_DT2
9    10           Đỗ Trung Hiếu    2000-05-02  18TCLC_DT2
10   11     Nguyễn Nguyên Hoàng    1999-03-06  18TCLC_DT2
11   12          Đặng Quang Huy    2000-09-30  18TCLC_DT2
12   13         Nguyễn Hồng Huy    2000-04-10  18TCLC_DT2
13   14    Nguyễn Văn Quang Huy    2000-11-27  18TCLC_DT2
14   15            Trần Văn Huy    2000-10-26  18TCLC_DT2
15   16            Đỗ Oanh Khải    2000-10-08  18TCLC_DT2
16   17         Đỗ Văn Anh Khoa    2000-04-01  18TCLC_DT2
17   18        Phạm Mai Văn Lai    2000-08-21  18TCLC_DT2
18   19        Châu Trường Long    2000-08-02  18TCLC_DT2
19   20          Lương Thế Long    2000-08-20  18TCLC_DT2
20   21           Trần Chí Minh    2000-05-26  18TCLC_DT2
21   22           Đặng Bảo Ngân    2000-04-09  18TCLC_DT2
22   23       Nguyễn Xuân Nghĩa    2000-06-01  18TCLC_DT2
23   24           Bùi An Nguyên    2000-11-16  18TCLC_DT2
24   25              Đỗ Lý Nhân    2000-05-01  18TCLC_DT2
25   26           Phan Minh Phú    2000-10-30  18TCLC_DT2
26   27      Nguyễn Xuân Phương    2000-06-01  18TCLC_DT2
27   28       Nguyễn Phước Quốc    2000-02-13  18TCLC_DT2
28   29          Huỳnh Tấn Sinh    2000-02-19  18TCLC_DT2
29   30  Nguyễn Đặng Trường Sơn    2000-01-10  18TCLC_DT2
30   31          Nguyễn Đức Tài    2000-09-06  18TCLC_DT2
31   32            Lê Đức Thiết    2000-12-05  18TCLC_DT2
32   33          Lê Quang Thông    2000-10-20  18TCLC_DT2
33   34   Huỳnh Trần Khánh Toàn    2000-01-19  18TCLC_DT2
34   35             Võ Minh Trí    1997-01-03  18TCLC_DT2
35   36           Lê Tiến Trung    2000-03-22  18TCLC_DT2
36   37             Phan Anh Tú    2000-12-27  18TCLC_DT2
37   38             Lê Anh Tuấn    2000-06-13  18TCLC_DT2
38   39            Phan Thế Tuệ    2000-09-23  18TCLC_DT2
39   40            Mai Thế Viễn    2000-06-01  18TCLC_DT2
40   41            Hồ Nguyên Vũ    2000-10-19  18TCLC_DT2
41   42           Dương Thảo Vy    2000-02-29  18TCLC_DT2
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [13]:
area = pd.Series([10,20,30])
pop = pd.Series([20,30,40])
print(area)
data = pd.DataFrame({'area':area, 'pop':pop})
print(data)

0    10
1    20
2    30
dtype: int64
   area  pop
0    10   20
1    20   30
2    30   40