In [2]:
import pandas as pd

In [50]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
data.values # truy cập vào giá trị values của data

array([0.25, 0.5 , 0.75, 1.  ])

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data[1]

0.5

In [8]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [48]:
# masking
data[(data > 0.3) & (data < 0.8)]

1    0.50
2    0.75
dtype: float64

SERIES IN PANDAS

In [53]:
#  use strings as indices
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [52]:
# use noncontiguous or nonsequential indices
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [55]:
# fancy indexing
data['e'] = 1.25
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

Loc in Pandas

In [58]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data.loc[1]

'a'

In [ ]:
data.loc[1:3]

In [14]:
population_dict = {'California': 38332521, 'Texas': 26448193,'New York': 19651127, 'Florida': 19552860}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

In [15]:
population['California']

38332521

In [17]:
population['California':'New York']

California    38332521
Texas         26448193
New York      19651127
dtype: int64

In [18]:
#  data can be a list or NumPy array, index defaults to an integer sequence
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [19]:
# data can be a scalar, which is repeated to fill the specified index
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [20]:
# data can be a dictionary, in which index defaults to the dictionary keys
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [21]:
# index can be explicitly set if a different result is preferred
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

In [22]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
dtype: int64

In [24]:
# Second, construct a Series listing the population of 3 states
population_dict = {'California': 38332521, 'Texas': 26448193, 'New York': 19651127}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
dtype: int64

END Series

Start with Data Frame

In [27]:
states.columns

Index(['population', 'area'], dtype='object')

In [60]:
states = pd.DataFrame({'population': population, 'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297

In [29]:
states['area]

California    423967
Texas         695662
New York      141297
Name: area, dtype: int64

In [35]:
# a DataFrame can be constructed from a dictionary of Series objects
pd.DataFrame({'population': population, 'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297

In [36]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127

In [59]:
# create a DataFrame from a dictionary of Series
area = pd.Series({'California': 423967, 'Texas': 695662, 'New York': 141297})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,'New York': 19651127})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Texas       695662  26448193
New York    141297  19651127

In [61]:
# this dictionary-style syntax can also be used to modify the object,
# in this case to add a new column
data['density'] = data['pop'] / data['area']
data

              area       pop     density
California  423967  38332521   90.413926
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746

loc và iloc trong pandas

In [63]:
# Using the iloc indexer, we can index the underlying array
# as if it is a simple NumPy array
data.iloc[:2, :2]

              area       pop
California  423967  38332521
Texas       695662  26448193

In [64]:
# Using the loc indexer to produce the same result
data.loc[:'Texas', :'pop']

              area       pop
California  423967  38332521
Texas       695662  26448193

In [65]:
# in the loc indexer we can combine masking and fancy indexing
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
New York  19651127  139.076746

In [66]:
# modifying values is done in the similar way with NumPy
# data frame như 1 mảng 2 chiều 
data.iloc[0, 2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Texas       695662  26448193   38.018740
New York    141297  19651127  139.076746

In [67]:
# direct masking are handled row-wise rather than column-wise
data[data.density > 100]

            area       pop     density
New York  141297  19651127  139.076746

In [31]:
import numpy as np
# create a DataFrame with any specified column and index names from a 2D NumPy array
pd.DataFrame(np.random.rand(3, 2), columns=['foo', 'bar'], index=['a', 'b', 'c'])

        foo       bar
a  0.683619  0.229095
b  0.430064  0.784502
c  0.079216  0.135827

In [32]:
# Any list of dictionaries can be made into a DataFrame.
data = [{'a': i, 'b': 2 * i} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [33]:
# if some keys in the dictionary are missing, Pandas will fill them in with NaN values
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [38]:
# construct an Index from a list of integers
ind = pd.Index([2, 3, 5, 7, 11])
ind

# index là 1 mảng bất biến cho nên ko thể thay đổi giá trị trong mảng

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [40]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])
indA & indB # intersection

<ipython-input-40-bf4e1705ef91>:3: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  indA & indB # intersection

Int64Index([3, 5, 7], dtype='int64')

In [41]:
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')

In [42]:
indA | indB # union

<ipython-input-42-0a17b8447828>:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  indA | indB # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [43]:
indA.union(indB)

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [44]:
indA ^ indB # symmetric difference

<ipython-input-44-aebc1839486a>:1: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead
  indA ^ indB # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

In [45]:
indA.symmetric_difference(indB)

Int64Index([1, 2, 9, 11], dtype='int64')

Bảo toàn chỉ số

In [68]:
# defining a simple Series
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
ser

0    6
1    3
2    7
3    4
dtype: int32

In [69]:
np.exp(ser)

0     403.428793
1      20.085537
2    1096.633158
3      54.598150
dtype: float64

In [70]:
# defining a simple DataFrame 
df = pd.DataFrame(rng.randint(0,10,(3,4)),columns=['A','B','C','D'])
df

   A  B  C  D
0  6  9  2  6
1  7  4  3  7
2  7  2  5  4

In [71]:
np.sin(df * np.pi / 4)

          A             B         C             D
0 -1.000000  7.071068e-01  1.000000 -1.000000e+00
1 -0.707107  1.224647e-16  0.707107 -7.071068e-01
2 -0.707107  1.000000e+00 -0.707107  1.224647e-16

Pandas sẽ căn chỉnh chỉ số khi thực hiện các phép toán 2 ngôi trên các đối  tượng Series và DataFrame " thuận tiện khi làm việc với dữ liệu ko đầy đủ

In [72]:
# suppose we are combining two diff data sources: area & population
area = pd.Series({'Alaska': 1723337, 'Texas': 695662, 'California': 423967}, name='area')
population = pd.Series({'California': 38332521, 'Texas': 26448193, 'New York': 19651127}, name='population')
# then compute the population density
population / area

Alaska              NaN
California    90.413926
New York            NaN
Texas         38.018740
dtype: float64