In [1]:
import numpy as np

In [3]:
while True :
    ch = input('Nhap ky tu : ')
    if ch == "q" or ch == "Q":
        break

Nhap ky tu :  a
Nhap ky tu :  b
Nhap ky tu :  c
Nhap ky tu :  d
Nhap ky tu :  e
Nhap ky tu :  f
Nhap ky tu :  q

In [5]:
# xâu ký tự
fruit = "Apple"
print(fruit)
print(fruit[2])

Apple
p

In [9]:
s = 'K18TCLC'
i = 0 
while i < len(s):
    print('ky tu thu %d la %s' %(i,s[i]) )
    i = i + 1

ky tu thu 0 la K
ky tu thu 1 la 1
ky tu thu 2 la 8
ky tu thu 3 la T
ky tu thu 4 la C
ky tu thu 5 la L
ky tu thu 6 la C

In [11]:
for c in s : 
    print(c)

K
1
8
T
C
L
C

In [12]:
print('An {}'.format('Mit Cute'))

An Mit Cute

In [2]:
dic = dict()
dic['a'] = 1
dic['b'] = 2

In [5]:
#dictionary 
for x in dic : 
    print(x) # key 
    print(dic[x]) # value

a
1
b
2

In [6]:
for x in dic : 
    if dic[x] == 2 : 
        print(x)

b

In [9]:
top = (1, 9.8, 'abc')
top[0]
top[0] = 2

TypeError: 'tuple' object does not support item assignment

In [1]:
# tuple tập giá trị cần thay đổi cho nhau ( tương tự như temp )
import pandas as pd

df = pd.read_excel (r'C:\Users\PhanTheTue\OneDrive\Desktop\Schedule.xlsx')
print (df)

    TT     Số thẻ                  Họ Tên  Ngày sinh      Lớp SH
0    1  102180153             Lưu Quốc An 2000-02-03  18TCLC_DT2
1    2  102180154      Tôn Thất Quỳnh Anh 2000-10-12  18TCLC_DT2
2    3  102180155    Nguyễn Thị Minh Châu 2000-10-17  18TCLC_DT2
3    4  102180156     Trần Văn Thanh Công 2000-08-17  18TCLC_DT2
4    5  102180157          Huỳnh Bá Cường 2000-10-22  18TCLC_DT2
5    6  102180158           Trần Thế Dâng 2000-11-16  18TCLC_DT2
6    7  102180159         Nguyễn Tiến Đạt 2000-12-06  18TCLC_DT2
7    8  102180160           Phan Thị Diễm 2000-09-18  18TCLC_DT2
8    9  102180161         Phan Khương Duy 2000-09-29  18TCLC_DT2
9   10  102180162           Đỗ Trung Hiếu 2000-05-02  18TCLC_DT2
10  11  102180163     Nguyễn Nguyên Hoàng 1999-03-06  18TCLC_DT2
11  12  102180164          Đặng Quang Huy 2000-09-30  18TCLC_DT2
12  13  102180165         Nguyễn Hồng Huy 2000-04-10  18TCLC_DT2
13  14  102180166    Nguyễn Văn Quang Huy 2000-11-27  18TCLC_DT2
14  15  102180167            Trần Văn Huy 2000-10-26  18TCLC_DT2
15  16  102180168            Đỗ Oanh Khải 2000-10-08  18TCLC_DT2
16  17  102180169         Đỗ Văn Anh Khoa 2000-04-01  18TCLC_DT2
17  18  102180170        Phạm Mai Văn Lai 2000-08-21  18TCLC_DT2
18  19  102180171        Châu Trường Long 2000-08-02  18TCLC_DT2
19  20  102180172          Lương Thế Long 2000-08-20  18TCLC_DT2
20  21  102180173           Trần Chí Minh 2000-05-26  18TCLC_DT2
21  22  102180174           Đặng Bảo Ngân 2000-04-09  18TCLC_DT2
22  23  102180175       Nguyễn Xuân Nghĩa 2000-06-01  18TCLC_DT2
23  24  102180176           Bùi An Nguyên 2000-11-16  18TCLC_DT2
24  25  102180177              Đỗ Lý Nhân 2000-05-01  18TCLC_DT2
25  26  102180178           Phan Minh Phú 2000-10-30  18TCLC_DT2
26  27  102180179      Nguyễn Xuân Phương 2000-06-01  18TCLC_DT2
27  28  102180180       Nguyễn Phước Quốc 2000-02-13  18TCLC_DT2
28  29  102180181          Huỳnh Tấn Sinh 2000-02-19  18TCLC_DT2
29  30  102180182  Nguyễn Đặng Trường Sơn 2000-01-10  18TCLC_DT2
30  31  102180183          Nguyễn Đức Tài 2000-09-06  18TCLC_DT2
31  32  102180185            Lê Đức Thiết 2000-12-05  18TCLC_DT2
32  33  102180186          Lê Quang Thông 2000-10-20  18TCLC_DT2
33  34  102180187   Huỳnh Trần Khánh Toàn 2000-01-19  18TCLC_DT2
34  35  102180188             Võ Minh Trí 1997-01-03  18TCLC_DT2
35  36  102180189           Lê Tiến Trung 2000-03-22  18TCLC_DT2
36  37  102180190             Phan Anh Tú 2000-12-27  18TCLC_DT2
37  38  102180191             Lê Anh Tuấn 2000-06-13  18TCLC_DT2
38  39  102180192            Phan Thế Tuệ 2000-09-23  18TCLC_DT2
39  40  102180193            Mai Thế Viễn 2000-06-01  18TCLC_DT2
40  41  102180194            Hồ Nguyên Vũ 2000-10-19  18TCLC_DT2
41  42  102180195           Dương Thảo Vy 2000-02-29  18TCLC_DT2

In [28]:
import pandas as pd

df = pd.read_excel (r'Check.csv')
print (df)

    TT     Số thẻ                  Họ Tên  Ngày sinh      Lớp SH
0    1  102180153             Lưu Quốc An 2000-02-03  18TCLC_DT2
1    2  102180154      Tôn Thất Quỳnh Anh 2000-10-12  18TCLC_DT2
2    3  102180155    Nguyễn Thị Minh Châu 2000-10-17  18TCLC_DT2
3    4  102180156     Trần Văn Thanh Công 2000-08-17  18TCLC_DT2
4    5  102180157          Huỳnh Bá Cường 2000-10-22  18TCLC_DT2
5    6  102180158           Trần Thế Dâng 2000-11-16  18TCLC_DT2
6    7  102180159         Nguyễn Tiến Đạt 2000-12-06  18TCLC_DT2
7    8  102180160           Phan Thị Diễm 2000-09-18  18TCLC_DT2
8    9  102180161         Phan Khương Duy 2000-09-29  18TCLC_DT2
9   10  102180162           Đỗ Trung Hiếu 2000-05-02  18TCLC_DT2
10  11  102180163     Nguyễn Nguyên Hoàng 1999-03-06  18TCLC_DT2
11  12  102180164          Đặng Quang Huy 2000-09-30  18TCLC_DT2
12  13  102180165         Nguyễn Hồng Huy 2000-04-10  18TCLC_DT2
13  14  102180166    Nguyễn Văn Quang Huy 2000-11-27  18TCLC_DT2
14  15  102180167            Trần Văn Huy 2000-10-26  18TCLC_DT2
15  16  102180168            Đỗ Oanh Khải 2000-10-08  18TCLC_DT2
16  17  102180169         Đỗ Văn Anh Khoa 2000-04-01  18TCLC_DT2
17  18  102180170        Phạm Mai Văn Lai 2000-08-21  18TCLC_DT2
18  19  102180171        Châu Trường Long 2000-08-02  18TCLC_DT2
19  20  102180172          Lương Thế Long 2000-08-20  18TCLC_DT2
20  21  102180173           Trần Chí Minh 2000-05-26  18TCLC_DT2
21  22  102180174           Đặng Bảo Ngân 2000-04-09  18TCLC_DT2
22  23  102180175       Nguyễn Xuân Nghĩa 2000-06-01  18TCLC_DT2
23  24  102180176           Bùi An Nguyên 2000-11-16  18TCLC_DT2
24  25  102180177              Đỗ Lý Nhân 2000-05-01  18TCLC_DT2
25  26  102180178           Phan Minh Phú 2000-10-30  18TCLC_DT2
26  27  102180179      Nguyễn Xuân Phương 2000-06-01  18TCLC_DT2
27  28  102180180       Nguyễn Phước Quốc 2000-02-13  18TCLC_DT2
28  29  102180181          Huỳnh Tấn Sinh 2000-02-19  18TCLC_DT2
29  30  102180182  Nguyễn Đặng Trường Sơn 2000-01-10  18TCLC_DT2
30  31  102180183          Nguyễn Đức Tài 2000-09-06  18TCLC_DT2
31  32  102180185            Lê Đức Thiết 2000-12-05  18TCLC_DT2
32  33  102180186          Lê Quang Thông 2000-10-20  18TCLC_DT2
33  34  102180187   Huỳnh Trần Khánh Toàn 2000-01-19  18TCLC_DT2
34  35  102180188             Võ Minh Trí 1997-01-03  18TCLC_DT2
35  36  102180189           Lê Tiến Trung 2000-03-22  18TCLC_DT2
36  37  102180190             Phan Anh Tú 2000-12-27  18TCLC_DT2
37  38  102180191             Lê Anh Tuấn 2000-06-13  18TCLC_DT2
38  39  102180192            Phan Thế Tuệ 2000-09-23  18TCLC_DT2
39  40  102180193            Mai Thế Viễn 2000-06-01  18TCLC_DT2
40  41  102180194            Hồ Nguyên Vũ 2000-10-19  18TCLC_DT2
41  42  102180195           Dương Thảo Vy 2000-02-29  18TCLC_DT2

In [ ]:
f = open(r"C:\Users\PhanTheTue\OneDrive\Desktop\Check.csv", encoding = "utf8",errors='ignore')

In [3]:
class Student : 
    def __init__(self, id, name,date_of_birth, class_study):
        self.id = id
        self.name = name
        self.date_of_birth = date_of_birth
        self.class_study = class_study
    def __repr__(self):
        return str(dict({
            "id": self.id,
            "name": self.name,
        }))
    
students = []
dic_students = dict()
f = open("Check.csv", 'r',encoding="unicode_escape")
# lưu ý là encoding utf 8 sẽ gây ra lỗi còn unicode_escapse sẽ ko có lỗi 
listoflines = f.readlines()
for line in listoflines:
    #print(line) 
    x = line.split(",")
    students.append(Student(id = x[1],name = x[2], date_of_birth = x[3] , class_study = x[4])) # add to list 
    dic_students[x[1]] =  Student(id = x[1],name = x[2], date_of_birth = x[3] , class_study = x[4]) # add to dictionary 
    
# print(students[2]) # test print students in dictionary
# success 

for x in dic_students: 
    print(x)
    
def Search_By_Id(x):
    for i in dic_students : 
        if x == i : 
            print(dic_students[x])
            return 
    print("Not Found Same ID")
    return

id_to_find = input()
Search_By_Id(id_to_find)

STT
102180153
102180154
102180155
102180156
102180157
102180158
102180159
102180160
102180161
102180162
102180163
102180164
102180165
102180166
102180167
102180168
102180169
102180170
102180171
102180172
102180173
102180174
102180175
102180176
102180177
102180178
102180179
102180180
102180181
102180182
102180183
102180185
102180186
102180187
102180188
102180189
102180190
102180191
102180192
102180193
102180194
102180195

 102180191

{'id': '102180191', 'name': 'Le Anh Tuan'}

In [ ]:
s1 = '  abc  '
print(f'String =\'{s1}\'')
print(f'After Removing Leading Whitespaces String =\'{s1.lstrip()}\'')
print(f'After Removing Trailing Whitespaces String =\'{s1.rstrip()}\'')
print(f'After Trimming Whitespaces String =\'{s1.strip()}\'')

In [ ]:
# viết hàm tìm kiếm dữ liệu từng người 
# tìm theo key ra value 
# import dữ liệu vào dictionary trong python